* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

main {
	width: 95%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

h1 {
	width: 100%;
	text-align: center;
}

h2 {
	text-align: center;
	width: 100%;
}

button {
	margin: 5px 0;
}

form {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.alumnos {
	width: 50%;
	display: flex;
	padding: 20px;
	flex-wrap: wrap;
}


.datos {
	width: 50%;
	display: flex;
	padding: 20px;
	flex-wrap: wrap;
}

.addStudents {
	width: 98%;
	background: #6caaff;
	padding: 10px;
	border: 0;
	color: #fff;
}

input {
	width: 48%;
	padding: 10px;
	margin: 5px 12px 5px 0;
	font-weight: bold;
	color: #868e96;
	border-radius: 5px;
	border: 1px solid #ced4db;
}


.removeStudent {
	background-color: #ec8188;
	border: 0;
	color: #fff;
}

.searchStudent {
	background-color: #28a745;
	border: 0;
	color: #fff;
}